<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dlxcapp.dao.AreaMapper">
  <resultMap id="BaseResultMap" type="com.dlxcapp.model.Area">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="areaid" jdbcType="INTEGER" property="areaid" />
    <result column="areaname" jdbcType="VARCHAR" property="areaname" />
    <result column="cityid" jdbcType="INTEGER" property="cityid" />
    <result column="displayorder" jdbcType="SMALLINT" property="displayorder" />
  </resultMap>
</mapper>